Training/football-players-detection-17/
tracker/__pycache__/
runs/detect/
utils/__pycache__/
models/
input_videos/
output_videos/
TeamFeatures/__pycache__/
data/
.vscode/
__pycache__/
runs/
passes.json
tackles.json
training/football-ball-detection-4/
exports/